{:paths ["src"]
 :deps  {thheller/shadow-cljs   {:mvn/version "2.8.94"}
         github-create-cljs-app {:git/url "https://github.com/jgoodhcg/create-cljs-app"
                                 :sha     "a86b83410907167b2b19fcb5ee756f78f80274b9"}}}
