;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "0.8.1"]
  [re-frame "0.11.0"]
  [com.rpl/specter "1.1.3"]
  [metosin/spec-tools "0.10.1"]
  [camel-snake-kebab "0.4.1"]]

 :builds
 {:app
  {:target     :react-native
   :init-fn    app.index/init
   :output-dir "app"
   :devtools   {:autoload true
                :preloads [shadow.expo.keep-awake]}}

  :test
  {:target    :node-test
   :output-to "test/node-tests.js"
   :autorun   true}}}
